In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("Wholesale customers data.csv")

In [4]:
df.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [5]:
df.dtypes

Channel             int64
Region              int64
Fresh               int64
Milk                int64
Grocery             int64
Frozen              int64
Detergents_Paper    int64
Delicassen          int64
dtype: object

In [6]:
df.columns

Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper', 'Delicassen'],
      dtype='object')

In [7]:
df.axes

[RangeIndex(start=0, stop=440, step=1),
 Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
        'Detergents_Paper', 'Delicassen'],
       dtype='object')]

In [8]:
df.ndim

2

In [9]:
df.size

3520

In [10]:
df.shape

(440, 8)

In [11]:
df.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [12]:
df.max()

Channel                  2
Region                   3
Fresh               112151
Milk                 73498
Grocery              92780
Frozen               60869
Detergents_Paper     40827
Delicassen           47943
dtype: int64

In [13]:
df.min()

Channel              1
Region               1
Fresh                3
Milk                55
Grocery              3
Frozen              25
Detergents_Paper     3
Delicassen           3
dtype: int64

In [14]:
df.mean()

Channel                 1.322727
Region                  2.543182
Fresh               12000.297727
Milk                 5796.265909
Grocery              7951.277273
Frozen               3071.931818
Detergents_Paper     2881.493182
Delicassen           1524.870455
dtype: float64

In [15]:
df.median()

Channel                1.0
Region                 3.0
Fresh               8504.0
Milk                3627.0
Grocery             4755.5
Frozen              1526.0
Detergents_Paper     816.5
Delicassen           965.5
dtype: float64

In [16]:
df.std()

Channel                 0.468052
Region                  0.774272
Fresh               12647.328865
Milk                 7380.377175
Grocery              9503.162829
Frozen               4854.673333
Detergents_Paper     4767.854448
Delicassen           2820.105937
dtype: float64

In [17]:
df.sample(2)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
435,1,3,29703,12051,16027,13135,182,2204
130,1,3,7149,2428,699,6316,395,911

In [18]:
df.Region

0      3
1      3
2      3
3      3
4      3
      ..
435    3
436    3
437    3
438    3
439    3
Name: Region, Length: 440, dtype: int64

In [19]:
df.Fresh

0      12669
1       7057
2       6353
3      13265
4      22615
       ...
435    29703
436    39228
437    14531
438    10290
439     2787
Name: Fresh, Length: 440, dtype: int64

In [20]:
df[["Fresh", "Milk", "Grocery", "Frozen"]]

     Fresh   Milk  Grocery  Frozen
0    12669   9656     7561     214
1     7057   9810     9568    1762
2     6353   8808     7684    2405
3    13265   1196     4221    6404
4    22615   5410     7198    3915
..     ...    ...      ...     ...
435  29703  12051    16027   13135
436  39228   1431      764    4510
437  14531  15488    30243     437
438  10290   1981     2232    1038
439   2787   1698     2510      65

[440 rows x 4 columns]

In [21]:
df.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [22]:
df.iloc[[0]]

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338

In [23]:
df.iloc[[3]]

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
3        1       3  13265  1196     4221    6404               507        1788

In [24]:
df.iloc[[100]]

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
100,2,3,11594,7779,12144,3252,8035,3029

In [25]:
df.iloc[[-1]]

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
439,1,3,2787,1698,2510,65,477,52

In [26]:
df.iloc[[-100]]

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
340,2,3,381,4025,9670,388,7271,1371

In [27]:
df.iloc[:,0]

0      2
1      2
2      2
3      1
4      2
      ..
435    1
436    1
437    2
438    1
439    1
Name: Channel, Length: 440, dtype: int64

In [28]:
df.iloc[:,-1]

0      1338
1      1776
2      7844
3      1788
4      5185
       ...
435    2204
436    2346
437    1867
438    2125
439      52
Name: Delicassen, Length: 440, dtype: int64

In [29]:
df.iloc[0:7,:]

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185
5        2       3   9413  8259     5126     666              1795        1451
6        2       3  12126  3199     6975     480              3140         545

In [30]:
df.iloc[0:7]

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185
5        2       3   9413  8259     5126     666              1795        1451
6        2       3  12126  3199     6975     480              3140         545

In [31]:
df.iloc[3:9]

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185
5        2       3   9413  8259     5126     666              1795        1451
6        2       3  12126  3199     6975     480              3140         545
7        2       3   7579  4956     9426    1669              3321        2566
8        1       3   5963  3648     6192     425              1716         750

In [32]:
df.iloc[6:12,0:3]

    Channel  Region  Fresh
6         2       3  12126
7         2       3   7579
8         1       3   5963
9         2       3   6006
10        2       3   3366
11        2       3  13146

In [33]:
df.iloc[100:105,2:6]

     Fresh   Milk  Grocery  Frozen
100  11594   7779    12144    3252
101   1420  10810    16267    1593
102   2932   6459     7677    2561
103  56082   3504     8906   18028
104  14100   2132     3445    1336

In [34]:
df.iloc[:,2:-1]

     Fresh   Milk  Grocery  Frozen  Detergents_Paper
0    12669   9656     7561     214              2674
1     7057   9810     9568    1762              3293
2     6353   8808     7684    2405              3516
3    13265   1196     4221    6404               507
4    22615   5410     7198    3915              1777
..     ...    ...      ...     ...               ...
435  29703  12051    16027   13135               182
436  39228   1431      764    4510                93
437  14531  15488    30243     437             14841
438  10290   1981     2232    1038               168
439   2787   1698     2510      65               477

[440 rows x 5 columns]

In [35]:
df.head(1)

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338

In [51]:
df[["Fresh","Milk","Grocery","Frozen","Detergents_Paper","Delicassen"]].agg(["min","mean","max"])

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
min,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
mean,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
max,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [36]:
df["Fresh"].describe()

count       440.000000
mean      12000.297727
std       12647.328865
min           3.000000
25%        3127.750000
50%        8504.000000
75%       16933.750000
max      112151.000000
Name: Fresh, dtype: float64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB