Import liberaries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load the required dataset

In [2]:
df=pd.read_csv("IPL Ball-by-Ball 2008-2020.csv")

In [3]:
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
dtypes: int64(9), object(9)
memory usage: 26.6+ MB

In [5]:
df.describe()

,id,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
count,1.934680e+05,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000
mean,7.567688e+05,1.482131,9.177027,3.615967,1.240231,0.066414,1.306645,0.000083,0.049078
std,3.060971e+05,0.499682,5.676848,1.807128,1.610867,0.339991,1.598802,0.009094,0.216031
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.012270e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.292970e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,1.082628e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.237181e+06,2.000000,19.000000,9.000000,6.000000,7.000000,7.000000,1.000000,1.000000

**Q 16. Which team has scored the most number of 200+ scores?**

Ans:

Step1: Filter the data by inning == 1.

In [6]:
runs_inning1=df[df['inning']==1]

Step2: Group the inning 1 data by match "id" and "batting_team" and obtain the total score in each match by each team.

In [7]:
runs_batting_team=runs_inning1.groupby(['id','batting_team'])['total_runs'].sum()
print(runs_batting_team)

id       batting_team
335982   Kolkata Knight Riders          222
335983   Chennai Super Kings            240
335984   Rajasthan Royals               129
335985   Mumbai Indians                 165
335986   Deccan Chargers                110
                                       ...
1216547  Royal Challengers Bangalore    201
1237177  Mumbai Indians                 200
1237178  Royal Challengers Bangalore    131
1237180  Delhi Capitals                 189
1237181  Delhi Capitals                 156
Name: total_runs, Length: 816, dtype: int64

Step3: Extract the team who scored >200 runs

In [8]:
runs_batting_team_200=runs_batting_team[runs_batting_team>200]
print(runs_batting_team_200)

id       batting_team
335982   Kolkata Knight Riders          222
335983   Chennai Super Kings            240
335989   Chennai Super Kings            208
335990   Deccan Chargers                214
336014   Kolkata Knight Riders          204
                                       ...
1216524  Sunrisers Hyderabad            219
1216527  Kings XI Punjab                223
1216538  Mumbai Indians                 208
1216542  Sunrisers Hyderabad            201
1216547  Royal Challengers Bangalore    201
Name: total_runs, Length: 73, dtype: int64

Group the team who scored 200+ maximum times

Apply the "groupby" code on the above output to group the batting team.

In [9]:
batting_team_over_200=runs_batting_team_200.groupby('batting_team').size()
print(batting_team_over_200)

batting_team
Chennai Super Kings            10
Deccan Chargers                 1
Delhi Capitals                  2
Delhi Daredevils                4
Gujarat Lions                   1
Kings XI Punjab                 8
Kolkata Knight Riders           6
Mumbai Indians                 10
Rajasthan Royals                5
Royal Challengers Bangalore    16
Sunrisers Hyderabad            10
Name: total_runs, dtype: int64

find the team who scored 200+ maximum times

In [10]:
batting_team_max_200=runs_batting_team_200.groupby('batting_team').size().idxmax()
print(batting_team_max_200)

Royal Challengers Bangalore

**Q 17. Which team has conceded 200+ scores the most?**

Ans: performed the same steps as above for "bowling_team"

In [11]:
runs_bowling_team=runs_inning1.groupby(['id','bowling_team'])['total_runs'].sum()
runs_bowling_team_200=runs_bowling_team[runs_bowling_team>200]
bowling_team_over_200_max=runs_bowling_team_200.groupby('bowling_team').size().idxmax()
print(bowling_team_over_200_max)

Kings XI Punjab

**Q 18. What was the highest run scored by a team in a single match?**

Ans: Group the data by id, inning, batting team and find the total runs scored in each match.

Find the max score by using max function. Also find the corresponding match id, inning and team who scored the maximum runs.

The highest score was 263 runs made by 'Royal Challengers Bangalore' in first inning.

In [12]:
highest_score=df.groupby(['id','inning','batting_team'])['total_runs'].sum().max()
team_highest_score=df.groupby(['id','inning','batting_team'])['total_runs'].sum().idxmax()
print(f'Highest score: {highest_score}')
print(f'Team name: {team_highest_score}')

Highest score: 263
Team name: (598027, 1, 'Royal Challengers Bangalore')

**Q 20. Which batsmen have played the most number of balls?**

Ans: Group the data by batsman and used the idxmax and max function

Name of batsman: V Kohli, Number of ball played: 4609

In [13]:
all_batsman=df.groupby('batsman')
ball_played_batsman=all_batsman.size().idxmax()
total_ball_played=all_batsman.size().max()
print(f'Name of batsman: {ball_played_batsman}, Number of ball played: {total_ball_played}')

Name of batsman: V Kohli, Number of ball played: 4609

Q 22. Who has hit the most number of 4's?

Filter the column "total_runs" by == 4.

Group the data by batsman and find the batsman with idxmax function.

In [14]:
total_4=df[df['total_runs']==4]

In [15]:
batsman_total_4=total_4.groupby('batsman').size().idxmax()
print(batsman_total_4)

S Dhawan

Q 23. Who has hit the most number of 6's?

In [16]:
total_6=df[df['total_runs']==6]
batsman_total_6=total_6.groupby('batsman').size().idxmax()
print(batsman_total_6)

CH Gayle

Q 25. Who is the leading wicket-taker?

Ans:
Filteer the "is_wicked" column by ==1

In [17]:
wickets_total=df[df["is_wicket"]==1]

In [18]:
bowler_wickets=wickets_total.groupby('batsman').size().idxmax()
print(bowler_wickets)

RG Sharma

Q 32. Which team has scored the most runs in the first 6 overs?

Ans:
to filter the first 6 overs I applied filter >7 in column "overs".

Then I used groupby function to group the matches and batting team, and obtained the total score.

Team who scored maximum runs in first 6 overs was "Chennai Super Kings who scored 107 runs against Mumbai Indians in match 829729.

In [19]:
first_6_overs=df[df['over']<7]

In [20]:
runs_first_6_overs=first_6_overs.groupby(['id','batting_team'])['total_runs'].sum()
print(runs_first_6_overs)

id       batting_team
335982   Kolkata Knight Riders          68
         Royal Challengers Bangalore    33
335983   Chennai Super Kings            62
         Kings XI Punjab                69
335984   Delhi Daredevils               59
                                        ..
1237178  Sunrisers Hyderabad            49
1237180  Delhi Capitals                 76
         Sunrisers Hyderabad            52
1237181  Delhi Capitals                 46
         Mumbai Indians                 65
Name: total_runs, Length: 1630, dtype: int64

In [21]:
max_run_first_6_overs=runs_first_6_overs.max()
team_max_run_first_6_overs=runs_first_6_overs.idxmax()
print(team_max_run_first_6_overs)
print(max_run_first_6_overs)

(829729, 'Chennai Super Kings')
107

To find the bowling team I extracted the information corresponding to id:829729.

In [22]:
max_run_first_6_over_bowling_team=runs_first_6_overs.loc[829729]
print(max_run_first_6_over_bowling_team)

batting_team
Chennai Super Kings    107
Mumbai Indians          36
Name: total_runs, dtype: int64

Q 33. Which team has scored the most runs in the last 4 overs?

Ans: Repeat the above steps by filtering the data in column "over" by >16

In [23]:
last_4_overs=df[df['over']>16]
runs_last_4_overs=last_4_overs.groupby(['id','batting_team'])['total_runs'].sum()
max_run_last_4_overs=runs_last_4_overs.max()
team_max_run_last_4_overs=runs_last_4_overs.idxmax()
print(team_max_run_last_4_overs)
print(max_run_last_4_overs)

(980987, 'Royal Challengers Bangalore')
75

find the bowling team

In [24]:
max_run_last_4_over_bowling_team=runs_last_4_overs.loc[980987]
print(max_run_last_4_over_bowling_team)

batting_team
Gujarat Lions                   6
Royal Challengers Bangalore    75
Name: total_runs, dtype: int64